@import url("fonts.css");
@import url("icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

*:focus {
  outline: none;
}

button {
  background: transparent;
}

a {
  text-decoration: none;
  color: #0081F9;
}

ul li {
  list-style: none;
}

.grid {
  display: flex;
}
.grid .child-1 {
  flex-basis: 100%;
}
.grid .child-2 {
  flex-basis: 50%;
}
.grid .child-3 {
  flex-basis: 33%;
}
.grid .child-4 {
  flex-basis: 25%;
}
.grid .child-5 {
  flex-basis: 20%;
}
.grid .child-6 {
  flex-basis: 16%;
}

.grid-wrap {
  flex-wrap: wrap;
}

.justify-center {
  justify-content: center;
}

.justify-round {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.flex-column {
  flex-direction: column;
}

.is-primary {
  background: #0081F9;
  color: #fff;
}

.is-secondary {
  background: #1BC853;
  color: #fff;
}

.is-lightgray {
  background: #EAEAEA;
}

.is-black {
  background: #000;
  color: #fff;
}

.is-danger {
  background: #FD0220;
  color: #fff;
}

.is-rosered {
  background: #FD004E;
}

.is-gray {
  background: #E7E7E7;
}

.text-primary {
  color: #0081F9;
}

.text-secondary {
  color: #1BC853;
}

.text-lightgray {
  color: #EAEAEA;
}

.text-black {
  background: #000;
  color: #fff;
}

.text-danger {
  color: #FD0220;
}

.text-rosered {
  color: #FD004E;
}

.text-gray {
  color: #8E8E8E;
}

.is-rounded {
  border-radius: 12px;
}

.is-circled {
  border-radius: 100%;
}

button.sm-button {
  font-weight: bold;
  border-radius: 20px;
  border: none;
  padding: 5px 15px;
  font-size: 10pt;
}

.is-right {
  text-align: right;
}

.is-center {
  text-align: center;
}

.is-title-text {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 36px;
  letter-spacing: -0.022em;
}

.is-small-title-text {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 25px;
  letter-spacing: -0.022em;
}

.is-subtitle-text {
  text-transform: uppercase;
  color: #8E8E8E;
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: 5px;
}

.is-title {
  padding: 17px;
  padding-top: 40px;
  border-bottom: 1px solid #E7E7E7;
}
.is-title .is-main-title {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 36px;
  letter-spacing: -0.022em;
}
.is-title .is-subtitle {
  text-transform: uppercase;
  color: #8E8E8E;
  font-weight: bold;
  font-size: 10pt;
  margin-bottom: 5px;
}

.is-bottom-menu {
  padding: 17px;
  position: fixed;
  z-index: 9999;
  border-top: 1px solid #E7E7E7;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #fff;
}
.is-bottom-menu .is-list-menu {
  display: flex;
  justify-content: space-between;
}
.is-bottom-menu .is-list-menu .is-menu-component {
  font-size: 9pt;
  transition: color 0.2s;
}
.is-bottom-menu .is-list-menu .is-menu-component .is-icon-menu {
  font-size: 20pt;
  display: block;
}
.is-bottom-menu .is-list-menu .is-menu-component.is-active {
  color: #0081F9;
}
.is-bottom-menu .is-list-menu .is-menu-component:hover, .is-bottom-menu .is-list-menu .is-menu-component:active {
  color: #0081F9;
}

.is-main-container {
  padding: 17px;
}

.is-card {
  border-radius: 12px;
  height: 250px;
  width: 100%;
  margin: 17px 0;
  position: relative;
  overflow: hidden;
}
.is-card .is-background-card {
  position: absolute;
  width: 100%;
  border-radius: 12px;
  height: 100%;
  z-index: -1;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.is-card .is-background-card img {
  width: 100%;
  border-radius: 12px;
}
.is-card .is-card-content-title {
  padding: 17px;
  color: #fff;
}
.is-card .is-card-content-title .is-card-title-text {
  font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -0.022em;
  line-height: 1.47;
}
.is-card .is-card-content-title .is-card-subtitle-text {
  color: #EAEAEA;
  text-transform: uppercase;
  font-size: 9pt;
}
.is-card .is-card-content-bottom {
  position: absolute;
  bottom: 10px;
  padding-left: 17px;
  padding-right: 17px;
  padding-bottom: 17px;
  width: 100%;
  border-radius: 0 0 12px 12px;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}
.is-card .is-card-content-bottom p {
  color: #EAEAEA;
  font-size: 9pt;
  line-height: 1.47;
}

.is-list .is-list-separator {
  font-size: 15pt;
  margin: 15px 0;
  display: flex;
}
.is-list .is-list-separator h5 {
  margin-right: 10px;
}
.is-list .is-list-component {
  display: flex;
  justify-content: flex-start;
  padding: 15px 0;
  border-top: 1px solid #E7E7E7;
  align-items: center;
}
.is-list .is-list-component .is-list-img {
  width: 65px;
  border-radius: 12px;
}
.is-list .is-list-component .is-list-img.is-big {
  width: 80px;
}
.is-list .is-list-component .is-list-img.is-small {
  width: 50px;
}
.is-list .is-list-component .is-list-text {
  margin-left: 17px;
}
.is-list .is-list-component .is-list-text h5 {
  color: #8E8E8E;
  font-weight: 300;
  line-height: 1.47;
}

.is-list.is-hoverable .is-list-component:hover {
  background: #EAEAEA;
}

/*# sourceMappingURL=style.css.map */
